// Reset
* {
  padding: 0;
  margin: 0;
  font-family: 'Spectral', serif;
}

// Global variables
$spacing-unit: 30px;
$main-width: $spacing-unit * 20;
$large-format-width: 1800px;
$base-font-size: 20px;
$small-font-size: 18px;
$code-font-size: 16px;
$text-color: #111;
$background-color: #fdfdfd;
$grey-color: #828282;
$grey-color-dark-1: darken($grey-color, 20%);
$grey-color-light-1: lighten($grey-color, 10%);
$grey-color-light-2: lighten($grey-color, 45%);

$accent-color-1: #095e60;
$accent-color-2: #9F6F0E;
$accent-color-3: #9F120E;

html {
  background: $background-color;
}

main {
  max-width: $main-width;
  margin: auto;
  font-size: $base-font-size;
}

@media (max-width: $main-width) {
  main {
    max-width: 90%;
  }
}

p {
  margin: ($spacing-unit / 2) 0 ($spacing-unit / 2) 0;
}

a {
  &:link {
    color: $accent-color-1;
  }
  &:visited {
    color: darken($accent-color-1, 10%);
  }
  &:hover {
    color: $accent-color-2;
  }
  &:active {
    color: $accent-color-2;
  }
}

li {
  margin-left: $spacing-unit;
}

.poem {
  margin: ($spacing-unit * 8) 0 ($spacing-unit * 8) 0;
}

.poem-title {
  font-size: $base-font-size * 1.2;
  text-align: right;
  color: $grey-color-light-1;
  text-decoration: none;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: $grey-color;

    > .inline-svg-icon {
      fill: $grey-color;
    }
  }
}

.inline-svg-icon {
  height: 1em;
  top: 0.125em;
  position: relative;
  fill: $grey-color-light-1;
  transition: fill 0.1s ease-in-out;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: $code-font-size;
  color: $accent-color-1;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

blockquote {
  margin-left: 10%;
  font-style: italic;
}

img {
  max-width: 100%;
}

figcaption {
  text-align: right;
  font-size: $small-font-size;
}

.ending-divider {
  margin-top: $spacing-unit * 8;
  margin-bottom: $spacing-unit * 8;
  text-align: center;
}

.parallax-backdrop {
  background: linear-gradient(to bottom, rgba($background-color, 0.6) 0%, $background-color 100%), url("/img/title_backdrop_small.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -9999;

  &:focus {
    outline-width: 0;
  }
}

@media (min-width: $large-format-width) {
  .parallax-backdrop {
    background: linear-gradient(to bottom, rgba($background-color, 0.35) 0%, $background-color 100%), url("/img/title_backdrop.jpg");
    background-size: cover;
  }
}

// Tippy link popovers
.tippy-box {
  background-color: $grey-color-light-2;
  color: $text-color;
  font-size: $small-font-size;
  border: 1px solid $grey-color;
}

// Seed numbers
.seed-number {
  color: $accent-color-1;
}

// Book title
.book-title {
  margin-top: $spacing-unit * 14;
  margin-bottom: $spacing-unit * 8;
  h1 {
    font-size: $spacing-unit;
  }
  h2 {
    font-size: $base-font-size;
    color: $grey-color-dark-1;
    font-style: italic;
    text-align: right;
  }
  .title-version-desc-with-tooltip {
    text-decoration: underline;
    transition: color 0.1s ease-in-out;
    &:hover {
      color: $text-color;
    }
  }
}

.legal-notice {
  margin-bottom: $spacing-unit * 8;
  font-size: $small-font-size;
}

.book-cta {
  margin-bottom: $spacing-unit * 8;
  img {
    max-width: 100%;
  }
}

@media (min-width: $large-format-width) {
  // Body is 600px, so we have at least 600px on both sides to work with
  .book-title-page {
    margin-left: -500px;
    margin-right: -500px;
  }
  .book-title {
    margin-top: $spacing-unit * 16;
    margin-bottom: $spacing-unit * 16;
    h1 {
      font-size: $spacing-unit * 4;
    }
    h2 {
      font-size: $spacing-unit;
    }
  }
  .legal-notice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-bottom: $spacing-unit * 16;
    p {
      max-width: 25em;
    }
  }
  .book-cta {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-bottom: $spacing-unit * 16;

    img {
      // undo smaller-display width constraint to allow overflow hack
      max-width: initial;
    }
    a {
      max-width: 45%;
    }
    p {
      max-width: 30%;
      background-color: $background-color;
      padding: $spacing-unit / 2;
      z-index: 999;
    }
  }
}

.nonpoem-text {
  p {
    text-align: justify;
  }
}

.nonpoem-text .signature {
  text-align: right;
}

// Movement titles
.movement-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .movement-number {
    font-size: $spacing-unit * 8;
    color: $grey-color-light-1;
    font-weight: normal;
  }
}

.movement-title-1 {
  .movement-name {
    font-size: $spacing-unit * 2;
  }
}

@media (min-width: $large-format-width) {
  // Body is 600px, so we have at least 600px on both sides to work with
  .movement-title-1 {
    margin-left: -50px;
    margin-right: -200px;
  }
}

.movement-title-2 {
  margin-top: $spacing-unit * 16;

  .movement-number {
    font-size: $spacing-unit * 16;
  }
  .movement-name {
    font-size: $small-font-size;
    font-weight: normal;
  }
}

@media (min-width: $large-format-width) {
  // Body is 600px, so we have at least 600px on both sides to work with
  .movement-title-2 {
    margin-left: -100px;
    margin-right: -300px;
  }
}


.movement-title-3 {
  .movement-name {
    font-size: $spacing-unit * 3;
  }
}

@media (min-width: $large-format-width) {
  // Body is 600px, so we have at least 600px on both sides to work with
  .movement-title-3 {
    margin-left: -300px;
    margin-right: -500px;
  }
}

@media (max-width: $main-width) {
  .movement-title-3 .movement-name {
    font-size: $spacing-unit * 2;
  }
}
