<!-- favicons -->
<link rel="shortcut icon" href="/img/favicon-32.png" sizes="32x32">
<link rel="shortcut icon" href="/img/favicon-32.png" sizes="32x32">
<link rel="shortcut icon" href="/img/favicon-57.png" sizes="57x57">
<link rel="shortcut icon" href="/img/favicon-76.png" sizes="76x76">
<link rel="shortcut icon" href="/img/favicon-96.png" sizes="96x96">
<link rel="shortcut icon" href="/img/favicon-128.png" sizes="128x128">
<link rel="shortcut icon" href="/img/favicon-192.png" sizes="192x192">
<link rel="shortcut icon" href="/img/favicon-228.png" sizes="228x228">
<link rel="apple-touch-icon" href="/img/favicon-120.png" sizes="120x120">
<link rel="apple-touch-icon" href="/img/favicon-152.png" sizes="152x152">
<link rel="apple-touch-icon" href="/img/favicon-180.png" sizes="180x180">
<!-- end of favicons -->
