<div id="title-fixed-version-desc-template" style="display: none;">
  <p>This is a fixed version of the book. <a href="/">Click here</a> to go back to the live-generating version which changes on every refresh.</p>
</div>
<span id="forword-generate-new-instructions-fixed-template" style="display: none;"><a href="/">click here</a></span>
<span id="forword-generation-desc-fixed-template" style="display: none;">generated from the saved seed <span class="seed-number"></span> in your URL</span>

<div id="poem-links-popover-template" style="display: none;">
  <p>
    These poems are partly computer generated using chance systems. You can explore or share new randomized versions of this poem by clicking <a href="CHANGING_LINK" onclick="anchorLinkWithRefresh(event)">this changing link</a> and refreshing to see how it changes. You can also share or save this exact rendition of the poem using <a href="FIXED_LINK">this fixed link.</a>
  </p>
</div>

<div id="share-icon-template" style="display: none;">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="inline-svg-icon" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="share"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M503.691 189.836L327.687 37.851C312.281 24.546 288 35.347 288 56.015v80.053C127.371 137.907 0 170.1 0 322.326c0 61.441 39.581 122.309 83.333 154.132 13.653 9.931 33.111-2.533 28.077-18.631C66.066 312.814 132.917 274.316 288 272.085V360c0 20.7 24.3 31.453 39.687 18.164l176.004-152c11.071-9.562 11.086-26.753 0-36.328z"/></svg>
</div>

<script>
 function anchorLinkWithRefresh(e) {
   // If there is no fixed seed in URL, force-refresh is needed
   if (location.pathname === '/') {
     location = e.target.attributes["href"].value;
     location.reload();
     e.preventDefault();
   }
   // Otherwise, fixed seed is in URL, so default behavior is enough
 }
 
 function tippyOptions(contentHtml, placement, fallbackPlacements) {
   return {
     content: contentHtml,
     allowHTML: true,
     delay: [0, 500],
     interactive: true,
     arrow: false,
     placement: placement,
     popperOptions: {
       modifiers: [
         {
           name: 'flip',
           options: { fallbackPlacements: fallbackPlacements },
         }
       ],
     }
   };
 }

 function addPoemLinks() {
   const SHARE_ICON = document.getElementById('share-icon-template').innerHTML;
   let popoverTemplate = document.getElementById('poem-links-popover-template').innerHTML;
   let titleElements = document.getElementsByClassName('poem-title');
   for (let i = 0; i < titleElements.length; i++) {
     let titleElement = titleElements[i];
     let poemHash = '#' + titleElement.id;
     let poemLinkHtml = popoverTemplate
       .replace('CHANGING_LINK', '/' + poemHash)
       .replace('FIXED_LINK', '/version/' + SEED + poemHash);
     titleElement.innerHTML += ' ' + SHARE_ICON;
     titleElement.tabIndex = 0;
     tippy('#' + titleElement.id,
           tippyOptions(poemLinkHtml, 'right', ['right-start', 'top', 'bottom']));
   }
 }
 
 function setDisplaySeedNumbers() {
   let elements = document.getElementsByClassName('seed-number');
   for (let i = 0; i < elements.length; i++) {
     elements[i].innerHTML = '' + SEED;
   }
 }
 
 function scrollToHash() {
   if (location.hash) {
     // Since the page layout has changed since initial load,
     // we need to reset the location hash to snap the window
     // to bring the id into view
     location.hash = location.hash;
     // But even this doesn't work on some browsers (Chrome...)
     // so, set a backup on a few increasingly long delays.
     // This way, fast browsers will scroll to the element faster
     // but slow browsers will stil catch up.
     // (This can cause a noticeable snap-back if a user scrolls
     // immediately after loading the page, but I think this is
     // the best I can do)
     let scroll = function() {
       document.getElementById(location.hash.substring(1))
               .scrollIntoView({behavior: 'auto'});
     }
     setTimeout(scroll, 50);
     setTimeout(scroll, 200);
     setTimeout(scroll, 500);
   }
 }
 
 function setSeedFixedStateDependentContent() {
   let titleVersionDescFixedTemplate =
     document.getElementById('title-fixed-version-desc-template').innerHTML;
   const TITLE_VERSION_DESC_ID = 'title-version-descriptor';
   let titleVersionDescriptor = document.getElementById(TITLE_VERSION_DESC_ID);
   if (SEED_IS_FIXED) {
     titleVersionDescriptor.innerHTML = 'fixed unique version <span class="seed-number"></span>';
     titleVersionDescriptor.classList.add('title-version-desc-with-tooltip');
     tippy('#' + TITLE_VERSION_DESC_ID, tippyOptions(titleVersionDescFixedTemplate, 'bottom-end'));

     document.getElementById('forword-generate-new-instructions').innerHTML =
       document.getElementById('forword-generate-new-instructions-fixed-template').innerHTML;

     document.getElementById('forword-generation-desc').innerHTML = 
       document.getElementById('forword-generation-desc-fixed-template').innerHTML;
   }
 }

 var HttpClient = function() {
   this.get = function(aUrl, aCallback) {
     var anHttpRequest = new XMLHttpRequest();
     anHttpRequest.overrideMimeType('text/plain');
     anHttpRequest.onreadystatechange = function() {
       if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
         aCallback(anHttpRequest.responseText);
     }
     anHttpRequest.open( "GET", aUrl, true );
     anHttpRequest.send( null );
   }
 }
 var client = new HttpClient();
 
 client.get('/content.bml', function(response) {
   var renderBML = function() {
     let bmlResult = bml(response, {randomSeed: SEED});
     let markdownRenderedHtml = marked.parse(bmlResult, {smartypants: true});
     document.getElementById("bml-content-target").innerHTML = markdownRenderedHtml;
     formatDocument();
     addPoemLinks();
     scrollToHash();
     setSeedFixedStateDependentContent();
     // seed numbers should be set last
     setDisplaySeedNumbers();
   }
   // A little scheduling hacking to make sure we don't invoke BML until it's available
         // (not totally sure this is necessary)
         if (document.readyState === "complete" || document.readyState === "interactive") {
     renderBML();
   } else {
     document.addEventListener("DOMContentLoaded", renderBML);
   }
 });
</script>
